# Extracao de dados do ENADE

In [1]:
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

In [4]:
os.makedirs('./enade2019', exist_ok=True)

In [9]:
# Endereço para download
url = 'https://download.inep.gov.br/microdados/microdados_enade_2019_LGPD.zip'

# Execução do download
filebytes = BytesIO(
  requests.get(url, verify=False).content
)

# Extração do ZIP
myzip = zipfile.ZipFile(filebytes)
myzip.extractall('./enade2019')

/home/phllp/dev/bootcamp_data_eng/modulo_04/extracao_enade/env/lib/python3.8/site-packages/urllib3/connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'download.inep.gov.br'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

## Verificando dados baixados

In [2]:
files = [
  'microdados2019_arq3.txt',
  'microdados2019_arq5.txt',
  'microdados2019_arq6.txt',
  'microdados2019_arq7.txt',
  'microdados2019_arq8.txt',
  'microdados2019_arq10.txt',
  'microdados2019_arq11.txt',
  'microdados2019_arq14.txt'
]

In [5]:
PATH = r'./enade2019/microdados_Enade_2019_LGPD/2. DADOS'
lista_path = os.listdir(PATH) 
lista_df = [] # cria uma lista vazia
for arquivo in lista_path:
    if arquivo == 'microdados2019_arq3.txt':
        local_arquivo = os.path.join(PATH, arquivo)
        # ["CO_GRUPO", "TP_SEXO", "NU_IDADE", "NT_GER", "NT_FG", "NT_CE", "QE_IO1", "QE_IO2", "QE_IO4", "QE_IO5", "QE_IO8"]
        cols = ['NT_GER', 'NT_FG', 'NT_CE']
        df = pd.read_csv(local_arquivo, sep = ';', low_memory=True, decimal=',', usecols=cols)
    elif arquivo == 'microdados2019_arq1.txt':
        local_arquivo = os.path.join(PATH, arquivo)
        # ["CO_GRUPO", "TP_SEXO", "NU_IDADE", "NT_GER", "NT_FG", "NT_CE", "QE_IO1", "QE_IO2", "QE_IO4", "QE_IO5", "QE_IO8"]
        cols = ['CO_GRUPO']
        df = pd.read_csv(local_arquivo, sep = ';', low_memory=True, decimal=',', usecols=cols)

    else:
        local_arquivo = os.path.join(PATH, arquivo)
        df = pd.read_csv(local_arquivo, sep = ';', low_memory=True, decimal=',')
        lista_df.append(df)
df = pd.concat(lista_df) 
df.to_csv('./enade_clean.csv')

/tmp/ipykernel_5637/126235175.py:9: DtypeWarning: Columns (27,28,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(local_arquivo, sep = ';', low_memory=True, decimal=',', usecols=cols)

In [6]:
df

        NU_ANO  CO_CURSO QE_I02 QE_I08 QE_I05  NU_IDADE TP_SEXO QE_I04 QE_I01
0         2019      5221      A    NaN    NaN       NaN     NaN    NaN    NaN
1         2019      7712      A    NaN    NaN       NaN     NaN    NaN    NaN
2         2019      9264      A    NaN    NaN       NaN     NaN    NaN    NaN
3         2019      9733      A    NaN    NaN       NaN     NaN    NaN    NaN
4         2019     12570      A    NaN    NaN       NaN     NaN    NaN    NaN
...        ...       ...    ...    ...    ...       ...     ...    ...    ...
433925    2019   5001210    NaN    NaN    NaN       NaN     NaN    NaN    NaN
433926    2019   5001283    NaN    NaN    NaN       NaN     NaN    NaN    NaN
433927    2019     83604    NaN    NaN    NaN       NaN     NaN    NaN    NaN
433928    2019     83604    NaN    NaN    NaN       NaN     NaN    NaN    NaN
433929    2019     83604    NaN    NaN    NaN       NaN     NaN    NaN    NaN

[3037510 rows x 9 columns]

In [5]:
# 1) 4339300 
# 1) 4773230  
# 5207160  
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4773230 entries, 0 to 433929
Data columns (total 13 columns):
 #   Column    Dtype
---  ------    -----
 0   NU_ANO    int64
 1   CO_CURSO  int64
 2   QE_I11    object
 3   QE_I02    object
 4   QE_I08    object
 5   QE_I10    object
 6   QE_I25    object
 7   QE_I14    object
 8   QE_I05    object
 9   NU_IDADE  float64
 10  QE_I19    object
 11  QE_I18    object
 12  QE_I06    object
dtypes: float64(1), int64(2), object(10)
memory usage: 509.8+ MB