In [11]:
import pandas as pd
import requests
from pymongo import MongoClient

In [14]:
df = 'ibge'
collection = 'pnadc20203'

user = 'estudante_igti'
password = 'SRwkJTDz2nA28ME9'
host = 'unicluster.ixhvw.mongodb.net'

conn_url = f'mongodb+srv://{user}:{password}@unicluster.ixhvw.mongodb.net'

url = 'https://servicodados.ibge.gov.br/api/docs/localidades'

In [16]:
client = MongoClient(conn_url)
db = client['ibge']
collection = db['pnadc20203']
df = pd.DataFrame(list(collection.find()))

In [18]:
df.to_csv('./data_mongodb.csv', index=False, encoding='UTF-8', sep=';')

In [19]:
df.head()

,_id,ano,trimestre,uf,sexo,idade,cor,graduacao,trab,ocup,renda,horastrab,anosesco
0,600ce0685daa95c6616007bb,2020,3,Acre,Homem,6,Parda,None,None,None,NaN,NaN,0.0
1,600ce0685daa95c6616007b1,2020,3,Acre,Mulher,35,Parda,None,Pessoas na força de trabalho,Pessoas ocupadas,800.0,36.0,16.0
2,600ce0685daa95c6616007cc,2020,3,Acre,Homem,49,Parda,None,Pessoas na força de trabalho,Pessoas ocupadas,9500.0,40.0,15.0
3,600ce0685daa95c6616007ba,2020,3,Acre,Homem,10,Parda,None,None,None,NaN,NaN,2.0
4,600ce0685daa95c6616007e3,2020,3,Acre,Mulher,15,Parda,None,Pessoas fora da força de trabalho,None,NaN,NaN,9.0

In [29]:
# Mulheres de 20 a 40 anos
df = df.loc[df['sexo'] == 'Mulher']
df = df.loc[df['idade'] >= 20]
df = df.loc[df['idade'] <= 40]

In [30]:
df['renda'].mean()

1809.284263959391

In [32]:
df_dist_fed = df.loc[df['uf'] == 'Distrito Federal']
df_dist_fed['renda'].mean()

2795.944869831547

In [33]:
df_sudeste = df.loc[df['uf'].isin(['São Paulo', 'Rio de Janeiro', 'Minas Gerais', 'Espírito Santo'])]
df_sudeste['renda'].mean()

2034.061875

In [36]:
df.groupby(by='uf').mean().sort_values(by='renda')

/tmp/ipykernel_13312/692389192.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(by='uf').mean().sort_values(by='renda')

,ano,trimestre,idade,renda,horastrab,anosesco
uf,,,,,,
Alagoas,2020.0,3.0,29.906328,1116.098996,31.727891,10.345962
Maranhão,2020.0,3.0,30.123383,1116.234091,30.633896,10.648756
Piauí,2020.0,3.0,30.246781,1211.750890,25.988636,11.246781
Ceará,2020.0,3.0,29.978329,1252.191589,31.734748,11.257952
Bahia,2020.0,3.0,30.409311,1274.821351,30.449698,10.988082
Rio Grande do Norte,2020.0,3.0,30.133676,1312.550000,30.228889,11.270780
Sergipe,2020.0,3.0,30.056620,1363.570175,31.776860,11.034843
Pernambuco,2020.0,3.0,30.435801,1418.586327,33.426193,10.989544
Pará,2020.0,3.0,30.037674,1454.140271,31.830421,11.246977
Amazonas,2020.0,3.0,29.863687,1495.306802,32.482424,11.492737
Minas Gerais,2020.0,3.0,30.464842,1596.360515,33.085324,11.835365
Tocantins,2020.0,3.0,30.406548,1663.841954,33.891365,12.068213
Acre,2020.0,3.0,29.598720,1664.461353,31.340426,11.864717
Rondônia,2020.0,3.0,30.020161,1687.127430,35.298805,11.674395
Paraíba,2020.0,3.0,30.247794,1731.220202,32.195266,11.157353
Mato Grosso do Sul,2020.0,3.0,30.510044,1759.048362,34.160247,11.884716
Roraima,2020.0,3.0,29.639121,1792.118687,33.851485,12.288703
Goiás,2020.0,3.0,30.243616,1852.986730,34.957707,12.343207
Espírito Santo,2020.0,3.0,30.625587,1892.986616,34.303491,12.325849
Mato Grosso,2020.0,3.0,30.183741,1996.751523,36.391667,12.023794
Amapá,2020.0,3.0,29.560393,2066.733083,31.812274,12.171348
Rio Grande do Sul,2020.0,3.0,30.660036,2071.142099,34.551762,12.265009
Santa Catarina,2020.0,3.0,30.418099,2125.785506,37.543680,12.523516
Paraná,2020.0,3.0,30.413872,2155.425961,34.979268,12.373476
Rio de Janeiro,2020.0,3.0,30.497489,2322.189565,34.815242,12.434152
São Paulo,2020.0,3.0,30.714383,2393.436087,35.248885,12.623122
Distrito Federal,2020.0,3.0,30.366007,2795.944870,35.732224,13.109712

In [43]:
# Qual é a média de escolaridade entre as mulheres que moram no Paraná e estão entre 25 e 30 anos? 

df_pr = df.loc[df['uf'] == 'Paraná']
df_pr = df_pr.loc[df_pr['idade'] >= 25]
df_pr = df_pr.loc[df_pr['idade'] <= 30]
df_pr['anosesco'].mean()

12.613469985358712

In [44]:
# Qual é a média de renda para as pessoas na região Sul do país, que estão na força de trabalho e possuem entre 25 e 35 anos? 
df_sul = df.loc[df['uf'].isin(['Paraná', 'Santa Catarina', 'Rio Grande do Sul'])]
df_sul = df_sul.loc[df_sul['idade'] >= 25]
df_sul = df_sul.loc[df_sul['idade'] <= 35]
df_sul = df_sul.loc[df_sul['trab'] == 'Pessoas na força de trabalho']
df_sul['renda'].mean()

2231.8926080892606

In [54]:
# Qual é a renda média das mulheres que residem na região Norte do Brasil, possuem graduação, têm idade entre 25 e 35 anos e são pretas ou pardas? 
df_norte = df.loc[df['uf'].isin(['Acre', 'Amazonas', 'Amapá', 'Roraima', 'Rondônia', 'Pará', 'Tocantins'])]
df_norte = df_norte.loc[df_norte['idade'] >= 25]
df_norte = df_norte.loc[df_norte['idade'] <= 35]
df_norte = df_norte.loc[df_norte['graduacao'] == 'Sim']
df_norte = df_norte.loc[df_norte['cor'].isin(['Preta', 'Parda'])]
df_norte['renda'].mean()

1391.6666666666667

In [48]:
df.cor.value_counts()

Parda       30591
Branca      21356
Preta        4868
Amarela       275
Indígena      237
Ignorado        8
Name: cor, dtype: int64